<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <script th:src="@{bootstrap/js/sockjs.min.js}"></script>
    <script th:src="@{bootstrap/js/stomp.min.js}"></script>
    <script th:src="@{bootstrap/js/jquery-3.2.1.min.js}"></script>
    <script th:inline="javascript">
        $("#chatForm").submit(function(e){
            e.preventDefault();
            var text = $("#chatForm").find("textarea[name='text']").val();
            sendSpittle(text);
        });
        var sock = new SockJS("/endpointChat");
        var stomp = Stomp.over(sock);
        stomp.connect("guest","guest",function (frame) {
            stomp.subscribe("/user/queue/notifications",handleNotification);
        });

        function handleNotification(message) {
            $("#output").append("<b> received: " + message.body + "</b><br/>");
        }

        function sendSpittle(text) {
            stomp.send("/chat",{},text);
        }

    </script>
</head>
<body>
<p>聊天室</p>

<form id="chatForm">
    <textarea rows="4" cols="60" name="text"></textarea>
    <input type="submit"/>
</form>

<div id="output"></div>
</body>
</html>