<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>spring boot web socket 广播式</title>
    <script th:src="@{bootstrap/js/sockjs.min.js}"></script>
    <script th:src="@{bootstrap/js/stomp.min.js}"></script>
    <script th:src="@{bootstrap/js/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" charset="UTF-8">
        var stompClient = null;

        function setConnected(connected){
            document.getElementById("connect").isDisabled = connected;
            document.getElementById("disConnect").isDisabled = !connected
            document.getElementById("input").style.visibility = connected ? 'visible':'hidden';
        }

        function connect() {
            var socket = new SockJS("/endpointWebSocket");
            stompClient = Stomp.over(socket);
            stompClient.connect({},function (frame) {
                setConnected(true);
                console.log("connected: "+frame);
                stompClient.subscribe("/topic/getResponse",function (response) {
                    showResponse(JSON.parse(response.body).responseMessage);
                });
            });
        }
        function disConnect() {
            if(stompClient != null){
                stompClient.disconnect();
            }
            setConnected(false);
            console.log("Disconnected");
        }

        function sendName() {
            var name = encodeURI(document.getElementById("name").value);
            stompClient.send("/welcome",{},JSON.stringify({"name":name}));
        }

        function showResponse(message){
            var response = document.getElementById("showResponse");
            response.innerText = message;
        }
    </script>
</head>
<body onload="disConnect()">
<noscript><h2 style="color:#ff0000">该浏览器不支持webSocket</h2></noscript>
    <div>
        <div>
            <button id="connect" onclick="connect()">链接</button>
            <button id="disConnect" onclick="disConnect()">断开</button>
        </div>
        <div id="input">
            <label>输入内容：</label><input type="text" id="name"/>
            <button id="sendName" onclick="sendName()">发送</button>
            <p id="showResponse"></p>
        </div>
    </div>
</body>
</html>